<h1>Teste técnico BDMG</h1>
<hello></hello>
<br />

<div>Escreva seu código HTML abaixo:</div>
<br />

<mat-card>
  <form [formGroup]="cepForm" (ngSubmit)="onSubmit()">
    <h2>Buscar CEP</h2>
    <mat-form-field class="input-mid-width" appearance="outline">
      <mat-label>CEP</mat-label>
      <input
        matInput
        type="text"
        formControlName="cep"
        (change)="getbuscarCep($event)"
        mask="00000-000"
        placeholder="Placeholder"
      />
      <mat-error *ngIf="cepForm && cepForm.get('cep').hasError('required')">
        * Preencha o <strong>CEP</strong>
      </mat-error>
    </mat-form-field>

    <div class="form-fields">
      <mat-form-field appearance="outline">
        <mat-label>DDD</mat-label>
        <input
          matInput
          type="number"
          formControlName="ddd"
          placeholder="Placeholder"
        />
        <mat-error *ngIf="cepForm && cepForm.get('ddd').hasError('required')">
          * Preencha o <strong>DDD</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>GIA</mat-label>
        <input
          matInput
          type="text"
          formControlName="gia"
          placeholder="Placeholder"
        />
      </mat-form-field>
    </div>

    <mat-form-field class="input-mid-width" appearance="outline">
      <mat-label>Endereço</mat-label>
      <input
        matInput
        type="text"
        formControlName="logradouro"
        placeholder="Placeholder"
      />
      <mat-error
        *ngIf="cepForm && cepForm.get('logradouro').hasError('required')"
      >
        * Preencha o <strong>Endereço</strong>
      </mat-error>
    </mat-form-field>

    <div class="form-fields">
      <mat-form-field appearance="outline">
        <mat-label>Bairro</mat-label>
        <input
          matInput
          type="text"
          formControlName="bairro"
          placeholder="Placeholder"
        />
        <mat-error
          *ngIf="cepForm && cepForm.get('bairro').hasError('required')"
        >
          * Preencha o <strong>Bairro</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Complemento</mat-label>
        <input
          matInput
          mask="separator.0"
          thousandSeparator="."
          type="text"
          formControlName="complemento"
          placeholder="Placeholder"
        />
        <mat-error
          *ngIf="cepForm && cepForm.get('complemento').hasError('required')"
        >
          * Preencha o <strong>Complemento</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-fields">
      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input
          matInput
          type="text"
          formControlName="localidade"
          placeholder="Placeholder"
        />
        <mat-error
          *ngIf="cepForm && cepForm.get('localidade').hasError('required')"
        >
          * Preencha o <strong>Cidade</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>UF</mat-label>
        <input
          matInput
          type="text"
          formControlName="uf"
          placeholder="Placeholder"
        />
        <mat-error *ngIf="cepForm && cepForm.get('uf').hasError('required')">
          * Preencha o <strong>UF</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-fields">
      <mat-form-field appearance="outline">
        <mat-label>IBGE</mat-label>
        <input
          matInput
          type="text"
          formControlName="ibge"
          placeholder="Placeholder"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>SIAFI</mat-label>
        <input
          matInput
          type="text"
          formControlName="siafi"
          placeholder="Placeholder"
          [disabled]="true"
        />
      </mat-form-field>
    </div>
    <div class="button">
      <button
        matTooltip="Enviar"
        mat-raised-button
        color="primary"
        alt="Enviar"
      >
        Enviar
      </button>
    </div>
  </form>
  <div>
    <button
      matTooltip="Buscar novo CEP"
      mat-stroked-button
      alt="Buscar novo CEP"
      (click)="resetForm()"
    >
      <span>Buscar novo Cep</span>
    </button>
  </div>
</mat-card>
