p {
  font-family: Lato;
}

form {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.input-mid-width {
  width: 41%;
}

.form-fields {
  display: inline-block;
}

mat-form-field {
  margin: 0 10px;
}

.button {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.button-left {
  font-size: 20px;
  align-items: flex-start !important;
  display: flex;
  justify-content: left !important;
}

button {
  font-size: 20px;
}


