/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
  margin-bottom: 0.4rem;
}

.mat-simple-snackbar-action {
  color: #FFF;
}

.msg-error {
  color: #fff;
  font-weight: 500;
  background: rgb(141, 0, 0);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.msg-sucess {
  color: #fff;
  font-weight: 500;
  background: rgb(0, 141, 19);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
